<div class="lib-dropdown" [class.lib-dropdown--disabled]="disabled">
  <div
    class="lib-dropdown__trigger"
    [class.lib-dropdown__trigger--open]="isOpen"
    role="button"
    tabindex="0"
    (click)="toggleDropdown()"
    (keydown)="onTriggerKeydown($event)">
    <span class="lib-dropdown__value">
      {{ selectedOption ? selectedOption.label : placeholder }}
    </span>
    <kit-icon-chevron-down
      class="lib-dropdown__arrow"
      [class.lib-dropdown__arrow--open]="isOpen"
      [size]="12">
    </kit-icon-chevron-down>
  </div>
  <div class="lib-dropdown__menu" *ngIf="isOpen && !disabled">
    <div
      *ngFor="let option of options"
      class="lib-dropdown__option"
      [class.lib-dropdown__option--selected]="selectedOption?.value === option.value"
      role="option"
      [attr.aria-selected]="selectedOption?.value === option.value"
      tabindex="0"
      (click)="selectOption(option)"
      (keydown)="onOptionKeydown($event, option)">
      {{ option.label }}
    </div>
    <div *ngIf="options.length === 0" class="lib-dropdown__option lib-dropdown__option--empty">
      No options available
    </div>
  </div>
</div>
