<div class="lib-input-wrapper">
    <label *ngIf="label" [for]="inputId" class="lib-input-label">
        {{ label }}
        <span *ngIf="required" class="lib-input-required">*</span>
    </label>
    <div class="lib-input-field">
        <input
            [id]="inputId"
            class="lib-input"
            [class.lib-input--error]="error"
            [class.lib-input--disabled]="disabled"
            [class.lib-input--clearable]="clearable"
            [type]="type"
            [placeholder]="placeholder"
            [value]="value"
            [disabled]="disabled"
            [required]="required"
            (input)="onInput($event)"
            (blur)="onBlur($event)"
        />
        <button
            *ngIf="clearable && value"
            type="button"
            class="lib-input-clear"
            (click)="clearValue()"
            aria-label="Clear input">
            <kit-icon-close [size]="14" color="#999"></kit-icon-close>
        </button>
    </div>
    <span *ngIf="error" class="lib-input-error">{{ error }}</span>
    <span *ngIf="hint && !error" class="lib-input-hint">{{ hint }}</span>
</div>
